// Color
$white_color: #ffff;
$info_color: #c0c3d0;
$header_bg_color: #21333e;
$main_bg_color: #111117;
$footer_bg_color: #060a0c;
$primary_bg_color: #058283;
$primary_text_color: #21333e;
$secondary_text_color: #00a6a6;

// Heigth
$hero_heigth: 900px;