// Color
$white_color: #ffff;
$info_color: #d5dad6;
$info_main_color: #787879;
$header_bg_color: #21333e;
$main_bg_color: #111117;
$footer_bg_color: #060a0c;
$primary_bg_color: #00a6a6;
$news_bg_color: #eef4ed;
$input_bg_color:#1d1d23;
$primary_text_color: #21333e;
$secondary_text_color: #058283;
$secondary_text_transparent: #00a6a62d;


// Heigth
$hero_heigth: 1000px;
$header_nav: 80px;